@page "/Password"

<PageTitle>Lastpass</PageTitle>
<div class="app-container box">
    <div class="app-row box">
        <div class="col-7 box LastPass">LastPass...| </div>
        <div class="col-9 box">
            <Serch></Serch>
        </div>
        <div class="col-8 box">
            <ButtonUser></ButtonUser>
        </div>
    </div>
    <div class="app-row " id="card-1">
            @foreach (var item in ListModel)
            {
            <div class="col-6 card-container">
                    <PrintCard id="@item.Id" URL="@item.URL" name="@item.Name" Pass="@item.Password" username="@item.Username" > </PrintCard>              
            </div>
            }
    </div>
    <div class="col- 24 ">
        <CreateItem></CreateItem>
    </div>
</div>
 @code{
   
 }